:root {
  --clr-neutral-100: #fff;
  --clr-neutral-300: #d1faec;
  --clr-neutral-900: #1f2937;

  --ff-primary: "Roboto", sans-serif;

  --fs-400: 1rem;
  --fs-700: 1.5rem;
  --fs-900: 2rem;

  --fw-400: 400;
  --fw-700: 700;
}

@media(min-width:40em) {
  :root {
    --fs-400: 1.5rem;
    --fs-700: 2rem;
    --fs-900: 2.5rem;
  }
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* layout */

/* utility classes */


.text-light {
  color: var(--clr-neutral-100);
}

/* general styling */

body {
  color: var(--clr-neutral-900);
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  background-color: var(--clr-neutral-300);
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: var(--fs-900);
}

img {
  max-width: 9rem;
}

a:hover,
a:focus {
  opacity: .5;
}


/* individual styling */

header {
  text-align: center;
  padding: 1rem;
}

.button {
  transition: all 0.2s ease;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.buttons .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.score {
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.result {
  font-weight: var(--fw-700);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0 1em;
  margin-bottom: .5rem;
}

footer {
  background-color: var(--clr-neutral-900);
  display: flex;
  justify-content: center;
  gap: .5rem;
  padding: 1em;
}

@media(min-width:40em) {

  h1 {
    margin-top: 3rem;
  }

  .buttons .container {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
  }

  img {
    max-width: 100%;
  }

  footer {
    padding: 1em;
  }

  .score {
    justify-content: center;
    gap: 5rem;
    margin-top: 6rem;
  }
}